<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#202020"/>
    <meta name="description" content="web for share your event">
    <title>SME - Share My Event</title>
    <link rel="shortcut icon" href="images/logo/SME.png">
</head>
<body>
    <component-navbar></component-navbar>


    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae et molestias exercitationem voluptates odit at molestiae dolores magni commodi porro repellat a eaque veniam eveniet, saepe, quibusdam nostrum similique provident?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ducimus, neque nulla explicabo odit perspiciatis voluptatibus eius, praesentium aliquam mollitia quisquam iste. Ea animi iusto illum nulla possimus aspernatur nobis?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, iusto neque repellendus similique unde, maiores libero, possimus commodi dolore error repellat. Id iste modi itaque tempora voluptatem rerum totam neque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus deserunt rem harum, aliquam perferendis odit minus tenetur quam repellendus vero aut sit accusantium, laborum molestias praesentium quibusdam. Quis, voluptatem magnam?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus quaerat aut unde consequatur, expedita at necessitatibus dolorem nihil error ad itaque minus eum omnis porro modi ducimus veritatis. Cupiditate, nisi!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At quam quae dolor culpa corrupti esse ad reiciendis nobis doloribus autem labore voluptatem fugit nostrum dolores in, eos, ullam tempora cupiditate.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae et molestias exercitationem voluptates odit at molestiae dolores magni commodi porro repellat a eaque veniam eveniet, saepe, quibusdam nostrum similique provident?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ducimus, neque nulla explicabo odit perspiciatis voluptatibus eius, praesentium aliquam mollitia quisquam iste. Ea animi iusto illum nulla possimus aspernatur nobis?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, iusto neque repellendus similique unde, maiores libero, possimus commodi dolore error repellat. Id iste modi itaque tempora voluptatem rerum totam neque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus deserunt rem harum, aliquam perferendis odit minus tenetur quam repellendus vero aut sit accusantium, laborum molestias praesentium quibusdam. Quis, voluptatem magnam?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus quaerat aut unde consequatur, expedita at necessitatibus dolorem nihil error ad itaque minus eum omnis porro modi ducimus veritatis. Cupiditate, nisi!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At quam quae dolor culpa corrupti esse ad reiciendis nobis doloribus autem labore voluptatem fugit nostrum dolores in, eos, ullam tempora cupiditate.</p>

    <component-footer></component-footer>
</body>
</html>
