<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#202020"/>
    <meta name="description" content="web for share your event">
    <title>SME - Share My Event</title>
    <link rel="shortcut icon" href="images/logo/SME.png">
</head>
<body>
    <!-- navbar -->
    <nav class="myNavbar sticky-top">
        
    </nav>

    <!-- main content -->
    <main id="mainContent">

    </main>

    <!-- footer -->
    <component-footer></component-footer>
</body>
</html>
