component-sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #292929;
    color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    border-radius: 0 10px 10px 0;
}

component-sidebar .h6 {
    color: #fff;
}

component-sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px #292929 solid;
}

component-sidebar a:hover {
    color: white;
    border-bottom: 1px white solid;
}

component-sidebar.active {
    margin-left: -250px;
}

component-sidebar.active .custom-menu {
    margin-right: -50px;
}


@media (max-width: 991.98px) {
    component-sidebar {
        margin-left: -250px;
    }

    component-sidebar.active {
        margin-left: 0;
    }

    component-sidebar .custom-menu {
        margin-right: -50px !important;
        top: 10px !important;
    }
}

component-sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -20px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    component-sidebar .custom-menu {
        -webkit-transition: none;
        transition: none;
    }
}

component-sidebar .custom-menu .btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

component-sidebar .custom-menu .btn.btn-primary {
    background: #6749b9;
    border-color: #6749b9;
}

component-sidebar .custom-menu .btn.btn-primary:hover,
component-sidebar .custom-menu .btn.btn-primary:focus {
    background: #6749b9 !important;
    border-color: #6749b9 !important;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 991.98px) {
    component-sidebarCollapse span {
        display: none;
    }
}