.conatiner-all-event {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.category-all-event {
    margin: 10px 30px;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(179, 65, 250, 0.2);
    border-radius: 20px;
    width: 100%;
    text-align: center;
}

.category-all-event p {
    margin-bottom: 0;
}

.inner-all-event {
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(179, 65, 250, 0.2);
    border-radius: 20px;
    margin: 10px;
}

.webinar div,
.etc-event div,
.scolarship div {
    width: 70px;
    height: 66px;
    background-color: #5921F6;
    border-radius: 50%;
    margin: 10px;
}

.contest div,
.concert div {
    width: 70px;
    height: 66px;
    background-color: #17A471;
    border-radius: 50%;
    margin: 10px;
}

.webinar img,
.contest img,
.scolarship img,
.concert img,
.etc-event img {
    width: 45px;
    margin-top: 10px;
}

.webinar a,
.contest a,
.scolarship a,
.concert a,
.etc-event a {
    text-decoration: none;
    color: black;
}

.webinar div:hover,
.contest div:hover,
.scolarship div:hover,
.concert div:hover,
.etc-event div:hover {
    background-color: #afafaf;
}

.inner-all-event-card {
    margin-bottom: 30px;
}