.container-detail {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.image-detail {
    text-align: center;
    padding: 20px;
}

.image-detail img {
    width: 160px;
}

.image-detail button {
    border: none;
}

.info-detail {
    padding: 20px;
    max-width: 400px;
    height: fit-content;
    }

    .info-detail h2 {
        font-size: 1.6em;
        line-height: 1;
        margin-bottom: 12px;
}

.all-info-detail {
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(179, 65, 250, 0.2);
    border-radius: 20px;
    margin: 10px;
    width: 80%;
}

.description-detail {
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(179, 65, 250, 0.2);
    border-radius: 20px;
    margin: 10px;
    width: 80%;
    padding: 20px;
    margin-top: 20px;
}
/* === MEDIA QUERY === */
@media (max-width: 400px) {

    .all-info-detail {
        width: 90%;
    }

    .description-detail {
        width: 90%;
    }

    .image-detail img {
        width: 100%;
        }

        .info-detail {
            max-width: none;
            width: 100%;
    }
}