/* == container == */
.container-my-account {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* == COMBINED PAGE == */
.combined-page {
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(179, 65, 250, 0.2);
    border-radius: 20px;
    margin: 10px;
}

.combined-title {
    text-align: center;
}

.combined-title p {
    color: #17A471;
}

/* == NAVIGASI == */
.navigatio-page-account {
    padding-top: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.navigatio-page-account .btn {
    margin: 5px;
}

/* == MY ACCOUNT == */
.img-account img {
    max-width: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.data-account p:nth-child(2n) {
    background-color: rgb(165, 164, 164);
    color: white;
    border-radius: 5px;
}

/* == MY EVENT == */

/* == UPLOAD EVEMT == */
.upload-event {
    padding: 20px;
    margin: 30px;
    background-color: rgb(199, 199, 199);
    border-radius: 10px;
}

.upload-event input {
    width: 100%;
    border-radius: 5px;
    border: none;
}

.upload-event textarea {
    width: 100%;
    border-radius: 5px;
    border: none;
    height: 100px
}

.upload-event select {
    width: 100%;
    border-radius: 5px;
    border: none;
}

/* === MEDIA QUERY === */
@media (max-width: 670px) {
    .img-account img {
        width: 100%;
    }

    .data-account {
        width: 80%;
    }
}
