.container-sign-up {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.sign-up {
    box-shadow: 0 8px 16px 0 rgba(179, 65, 250, 0.2);
    margin: 40px 0 40px 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: fit-content;
    padding: 30px;
}

.sign-up h1 {
    text-align: center;
    margin-bottom: 20px;
}

.sign-up #email {
    width: 300px;
    border: none;
    border-radius: 20px;
    background-color: #C4C4C4;
    height: 30px;
    margin-top: 10px;
}

.sign-up #password {
    width: 300px;
    border: none;
    border-radius: 20px;
    background-color: #C4C4C4;
    height: 30px;
    margin-top: 10px;
}

.sign-up #name {
    width: 300px;
    border: none;
    border-radius: 20px;
    background-color: #C4C4C4;
    height: 30px;
    margin-top: 10px;
}

.sign-up #ConfirmPassword {
    width: 300px;
    border: none;
    border-radius: 20px;
    background-color: #C4C4C4;
    height: 30px;
    margin-top: 10px;
}

.sign-up p {
    margin-top: 10px;
    text-align: center;
}

.sign-up p a {
    text-decoration: none;
    border: none;
    color: rgb(81, 81, 255);
}

.btn-submit-sme {
    margin-top: 20px;
    width: 100%;
    background-color: #5921F6;
    color: white;
    padding: 5px 0;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid white;
}

.btn-submit-sme:hover {
    border: 1px solid #5921F6;
    background-color: white;
    color: #5921F6;
}
/* === MEDIA QUERY === */
@media (max-width: 400px) {

    .sign-up #email,
    .sign-up #password,
    .sign-up #ConfirmPassword,
    .sign-up #name {
        width: 100%;
    }
}